<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">NEST DIGITAL APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">HOME</a>
          </li>
          <li class="nav-item">

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Employee
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/addemp"> Add employee</a></li>
                <li><a class="dropdown-item" routerLink="/viewemp">View employee</a></li>
                <li><a class="dropdown-item" routerLink="/searchemp">Search employee</a></li>
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Security
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/adds"> Add securuty</a></li>
                <li><a class="dropdown-item" routerLink="/viewsecurity">View security</a></li>
                <li><a class="dropdown-item" routerLink="/searchs">Search security</a></li>
                
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/viewleave">View all leave</a>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Employee log
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/viewemployeelog"> View employee log</a></li>
                <li><a class="dropdown-item" routerLink="/dailyemployeelog">View daily employee log</a></li>
                
                
              </ul>
            </li>
  
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Visitor log
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/viewvisitorlog"> View visitor log</a></li>
                <li><a class="dropdown-item" routerLink="/dailyvisitorlog">View daily visitor log</a></li>
                
                
              </ul>
            </li>
  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Log out</a>
          </li>
         
         
        </ul>
      </div>
    </div>
  </nav>
