<app-empnavbar></app-empnavbar>
<div class="container">

    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <table class="table table-striped text-centre">

                <thead>

                  <tr>

                    <th scope="col">Employee Id</th>

                    <th scope="col">Year</th>

                    <th scope="col">Casual Leaves</th>

                    <th scope="col">Sick Leaves</th>

                    <th scope="col">Special Leaves</th>

                   

                   

                   

                   

                  </tr>

                </thead>

                <tbody>

                  <tr>

                   

                    <td>{{data[0].empId}}</td>

                    <td>{{data[0].year}}</td>

                    <td>{{data[0].casualLeave}}</td>

                    <td>{{data[0].sickLeave}}</td>

                    <td>{{data[0].specialLeave}}</td>

                   

                   

                  </tr>

                 

                </tbody>

              </table>

        </div>

    </div>

</div>