<app-securitynavbar></app-securitynavbar>
<div class="container">
    <div class="row g-3 mT-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Employee Id</th>
                <th scope="col">Date</th>
                <th scope="col">Entry date time</th>
                <th scope="col">Exit date time</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td>{{i.empId}}</td>
                <td>{{i.date}}</td>
                <td>{{i.enterDateTime}}</td>
                <td>{{i.exitDateTime}}</td>
               
              </tr>
            </tbody>
          </table>
            

        </div>
    </div>
</div>