<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                        <tr scope="row">
                            <th scope="col">Employee id</th>
                            <th scope="col">Leave type</th>
                            <th scope="col">Remarks</th>
                            <th scope="col">From date</th>
                            <th scope="col">To date</th>
                            <th scope="col">Apply date</th>
                            <th scope="col">Action</th>
                           <!-- <th scope="col">Status</th>-->

                            
                        </tr></thead>
                        <tbody>
                        <tr *ngFor="let i of leaves">
                            <td>{{i.empId}}</td>
                            <td>{{i.type}}</td>
                            <td>{{i.remarks}}</td>
                            <td>{{i.fromDate}}</td>
                            <td>{{i.toDate}}</td>
                            <td>{{i.applyDate}}</td>
                           <!-- <td>{{i.status}}</td>-->
                            <td><button (click)="readValue(i.empId)" class="btn btn-info">Approve</button></td>
                            <td><button (click)="rejectValue(i.empId)" class="btn btn-danger">Reject</button></td>
                        </tr></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
