

<nav class="navbar navbar-expand-lg bg-primary">



    <div class="container-fluid">



      <a class="navbar-brand" href="#"><h1>Nest Digital</h1></a>



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">



        <span class="navbar-toggler-icon"></span>



      </button>



      <div class="collapse navbar-collapse" id="navbarNav">



        <ul class="navbar-nav">

             <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/viewsecurityprofile">MY PROFILE </a>
        </li>
          
        <li class="nav-item">
          <a class="nav-link" routerLink="/employeelog">Employee log</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/securityviewemplog">View employee log</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/securitydaliyviewemp">View daily employee log</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/visitorlog">Visitor log</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/securityviewvisitor">View visitor log</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/securityviewdailyvisitor">View daily visitor log</a>
        </li>

     
          <li class="nav-item">



            <a class="nav-link active" aria-current="page" routerLink="/home">Log out </a>


          </li>
          
          

         
        </ul>
      </div>
    </div>
</nav>

