<app-securitynavbar></app-securitynavbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                   
                    <h2>Employee Log </h2>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label text">Employee Id</label>
                    <input name="empId" [(ngModel)]="empId" type="text" class="form-control">

                </div>
               
                  
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Date</label>
                    <input type="date" name="date" [(ngModel)]="date" id="" class="form-control">
                   

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Entry date time</label>
                    <input type="datetime" name="enterDateTime" [(ngModel)]="enterDateTime" id="" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Exit date time</label>
                    <input type="datetime" name="exitDateTime" [(ngModel)]="exitDateTime" id="" class="form-control">

                </div>
                

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                    <button (click)="readValues()" class="btn btn-primary">Login</button>

                </div>
                
                

            </div>

        </div>
    </div>
</div>